<%- include('partials/header'); -%>

    <h1 class="text-3xl my-4 font-bold">
        <%=heading%>
    </h1>
    <p class="text-md my-4">
        <%=content%>
    </p>
</div>
    <%- include('partials/footer'); -%>